/* Example of @import use
This imports the `reset.css` file */
@import url('./reset.css');

/* For testing purposes, delete this code */
body {
  font-size: max(20vw, 400px);
  width: min(20vw, 400px);
  margin: 20px;
  padding: 0;
}
